:root{
    --button-1:#ad7662;
    --navbar-color:#e6f0e6;

    --link-color:#db4c4c;

    --media-1:#dbebeb;
    --media-2:#ffffff;
}
  
 
  

  /* ---------Container ---sss---------------------*/
  /* .container{
    margin: 900px;
      margin: 0 auto;
  } */
  
  /* ---------common attribute ------------------------*/
  p{
    padding-left: 10px;
    margin: 10px auto;
    font-size: 1rem;
    font-family: var(--font-2);
  }
  a{
    text-decoration: none;
    color: var(--link-color);
  }
 
  h3 {
    margin: 1rem 0;
  }
  
  /* --------- Header list ------------------------*/
  .header{
    background-image: url('/public/img/Summer.png');     ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header ul{
    list-style-type: none; 
    
  }
  
  .header ul li {
    display: inline-block;
    padding: 0 1rem;
  }
  
  .header nav a {
    color: #131211;
    font-size: 1.5rem;
  }
  
  .header nav a:hover {
    color: var(--color-1);
   
  }
  
  header .container{
     position: relative;
     width: 100%;
     display: flex;
     align-items: center;
  }

  
  .container2{
    width:100%; 
    height:60%; 
    position:absolute;
  }
                  
  .container2{             
    /* background-image: url('/public/img/snow.png');                */
    animation: snow 3s linear infinite;
  }     
  @keyframes snow {
  0% {background-position: 0px 0px}
  100% {background-position: 500px 500px}
  }
  
  /* --------- logo ------------------------*/
  .logo_nav{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* align-items: center; */
    overflow: hidden; 
  }

  .logo_nav1{
    position: fixed;
    background-color: var(--navbar-color) ;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
  }

  .logo_nav a {
    /* float: left; */
    display: block;
    /* text-align: center; */
    padding: 10px 0;
    text-decoration: none;
    font-size: 20px;
  }
  .logo_nav .icon {
    display: none;
  }
  
  
  .logo img{
      padding: 10px;
      width: 200px;
      height: 100px;
      animation-name: myanimation-2;
      position: relative; 
      animation-duration: 20s;
      animation-iteration-count:infinite;
  
  }
  
  
  .logo img:hover{
    animation-play-state: paused; 
  }
  
  @keyframes myanimation-2{
      
    0%{ left: 0px; top: 0px;} 
    50%{left:1000px; top:0px; }
    75%{left:0px; top:0px;}
  }
  
  /* --------- hero banner ------------------------*/
  .hero-banner {
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  
  .hero-banner h2 {
    text-align: center;
    max-width: 700px;
    font-weight: 900;
  }
  


  