/* --------- PROJECTS ------------------------*/
.projects{
    background-color: var(--bg-color-2) ;
    padding:70px 0;
    margin-left: -10px;
    justify-content: center;
    align-items: center;
    margin-bottom: -400px;
}
.projects h3{
    font-size: 30px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.card {  
    box-shadow: 0 0 5px var(--color-2);
    margin: 20px;
    display: inline-block;
    box-shadow: 0 0 5px #000000;
    justify-items: center;
    align-items: center;
    transition: all 0.3s;
    width: 350px;
    border-radius: 5px;
}
  
.card:hover{
    background-color: var(--color-3);
    transform: scale(1.1);
    cursor: pointer;
}
  
.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card h4{
 margin: 10px 20px;
 font-size: 1.5rem;
 border-bottom: #000000 solid;
 border-top: #000000 solid;
}

.card p{
    margin: 10px 20px;
    font-size: 1.2rem;
}

.card .github{
    font-size: 1rem;
    margin-left: 30px;  
}

.card i {
    font-size: 1.2rem; 
    margin: 0;
    margin-bottom: 20px;
}



