/* ---------------Button to top- from W3 cs-----------------*/

  .ScrollButton button{
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 1;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color:var(--link-color);
    color:var(--navbar-color);
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
  }

  .ScrollButton2 button{
    display: none;
    position: fixed;
    bottom: 100px;
    left: 30px;
    z-index: 1;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color:var(--ancient-4);
    color:var(--navbar-color);
    cursor: pointer;
    padding: 5px;
    border-radius: 16px;
  }


  